
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root {
    --main-color: #039855;
    --second-color: #32D583;
    --third-color:#00604D;
    --fourth-color:#00604D;
}

.sidebar .offcanvas-title {
    font-size: 3rem; 
    font-weight: bold;
}

.site-name .offcanvas-title .serba {
    color: var(--main-color); 
}

.site-name .offcanvas-title .bisa {
    color: var(--second-color); 
}


.menu-bar img {
  width: 50%;
}
.profile-icon {
  width: 30px;  
  height: 30px; 
  border-radius: 50%; 
  background-color: #ddd; 
  background-size: cover; 
  background-position: center; 
  cursor: pointer;
  border: 2px solid #03ac0e; 

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--main-color);
    font-weight: 600;
}

.navbar a:hover {
    color: var(--second-color);   
}
.offcanvas-title {
    color: var(--main-color); 
}
/* Gaya khusus untuk menu 'Daftar' */
.daftar-item {
    background-color: var(--second-color); 
    color: var(--main-color); 
    border-radius: 0.5rem; 
    padding: 10px 20px; 
    text-align: center; 
    display: inline-block; 
    transition: background-color 0.3s; 
}

.daftar-item:hover {
    background-color: var(--second-color); 
    color: white; 
}

  
  
  @media(max-width: 991px) {
    .sidebar {
      background-color: rgba(0, 255, 0, 0.15);
      backdrop-filter: blur(10px);
    }
    .sidebar .offcanvas-title {
        font-size: 1.5rem; 
        font-weight: bold;
    }
  }
}