:root {
    --main-color: #039855;
    --second-color: #32D583;
    --third-color:#00604D;
    --fourth-color:#00604D;
  }

.sidebar .card {
    margin-bottom: 20px;
}

.profile-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile-cards .card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.card-header {
    display: flex;
    align-items: center;
}

.checkbox {
    width: 25px;
    height: 25px; 
    margin-right: 10px;
    color: var(--main-color);
}

.profile-cards img {
    width: 150px; 
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
}

.card-details {
    display: flex;
    flex-direction: column;
}

.card-details h3 {
    margin: 0;
    font-size: 1rem;
}

.card-details p {
    font-size: 0.9rem; 
    margin: 2px 0; 
}

.price {
    color: var(--main-color);
    font-weight: bold;
    font-size: 1rem;
}

.content {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem; 
    margin: 2px 0; 
}

.content p {
    margin: 0;
    width: 50%;
}

.content .highlight, .content .status {
    width: 50%;
}

.highlight {
    font-weight: bold;
    color: var(--main-color);
}

.status {
    font-weight: bold;
}

.status-pending {
    color: #ffc107;
}

.status-complete{
    color: var(--main-color);
}

.complete-btn {
    background-color: var(--second-color);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    align-self: flex-start;
}

.complete-btn:hover {
    background-color: var(--main-color);
}
